<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
    <style type="text/css">
        label {
        display : inline-block;
        width : 200px;
        margin : 5px;
        text-align : left;
        }

        button {
        margin : 10px;
        padding : 10px;
        }

        input [type=text], input [type=password], select {
        display : inline-block;
        width : 200px;

        }

    </style>
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
    <form action="http://localhost:63342/ecommerce/templates/register_success.html?_ijt=3oi9a9s510jh4sti2cp0kfsj28&_ij_reload=RELOAD_ON_SAVE" method="post">
        <label>Username : </label>
        <input type="text" id="username" name="username"/><br/><br/>
        <label>First name : </label>
        <input type="text" id="firstname" name="firstname"/><br/><br/>
        <label>Last name : </label>
        <input type="text" id="lastname" name="lastname"/><br/><br/>
        <label>Email : </label>
        <input type="text" id="email" name="email"/><br/><br/>
        <label>Password : </label>
        <input type="password" id="password" name="password"/><br/><br/>
        <label>Address : </label>
        <input type="text" id="address" name="address"/><br/><br/><br/>
        <button type="submit" value="Register" onclick="register">Register</button>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <button type="reset" value="Reset">Reset</button><br/><br/>
        <a href="http://localhost:63342/ecommerce/templates/index.html?_ijt=p3ea58653au3mqdbdm0vrsqelm&_ij_reload=RELOAD_ON_SAVE">Main Page</a>
    </form>
</div>
</body>
</html>